[submodule "test/docker-3cx"]
	path = test/docker-3cx
	url = https://github.com/ekondayan/docker-3cx
[submodule "test/pfSense-Dashboard"]
	path = test/pfSense-Dashboard
	url = https://github.com/ifsc-slo/pfSense-Dashboard
[submodule "test/docker-elk-pfSense"]
	path = test/docker-elk-pfSense
	url = https://github.com/udienz/docker-elk-pfSense
[submodule "test/pfsense-suricata-elk-docker"]
	path = test/pfsense-suricata-elk-docker
	url = https://github.com/evaluationcopy/pfsense-suricata-elk-docker
