[submodule "test/pfSense-Dashboard"]
	path = test/pfSense-Dashboard
	url = https://github.com/ifsc-slo/pfSense-Dashboard
[submodule "test/docker-elk-pfSense"]
	path = test/docker-elk-pfSense
	url = https://github.com/udienz/docker-elk-pfSense
[submodule "test/pfsense-suricata-elk-docker"]
	path = test/pfsense-suricata-elk-docker
	url = https://github.com/evaluationcopy/pfsense-suricata-elk-docker
[submodule "test/3cx/docker-3cx"]
	path = test/3cx/docker-3cx
	url = https://github.com/ekondayan/docker-3cx
[submodule "test/3cx/3cx-docker"]
	path = test/3cx/3cx-docker
	url = https://github.com/izer-xyz/3cx-docker
[submodule "test/netbox-docker"]
	path = test/netbox-docker
	url = https://github.com/netbox-community/netbox-docker
